*{
    padding: 0px;
    margin: 0px;   
    user-select: none;
}

body{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: #ffe9db;
    // height: 100dvh;
    // width: 100dvw;
}